# User Variables
VSCODE_PASSWORD=SOME-SECURE-PASSWORD
GH_PAT1=Secure-GH-PAT1
GH_PAT2=Secure-GH-PAT2
CAPE_DEMO_FQDN=cape-demo.biqmind.sh

# Misc Variables (Typically no need to change these.)
VSCODE_DIR_PATH=/cape

#Software Versions (Typically no need to change these.)
VSCODE_VERSION=4.7.0
K3S_VERSION=v1.22.9+k3s1
K3D_VERSION=v5.4.1